@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;
    
    --card: 224 71.4% 10%;
    --card-foreground: 210 40% 98%;
    
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 210 40% 98%;
    --primary-foreground: 224 71.4% 4.1%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 173 95% 50%;
    --accent-foreground: 224 71.4% 4.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 173 95% 30%;
    --input: 240 3.7% 15.9%;
    --ring: 173 95% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    scroll-snap-align: start;
    min-height: 100vh;
  }
}
